body {
    margin:0;
    background:#111;
    color:white;
    font-family:Arial;
}

#app {
    display:grid;
    grid-template-columns:240px 1fr 300px;
    height:100vh;
}

#leftPanel {
    background:#2b2b2b;
    padding:15px;
    overflow:auto;
}

#viewer {
    background:#111;
}

#rightPanel {
    background:#1e1e1e;
    padding:15px;
}

.selected {
    stroke:red !important;
    stroke-width:3 !important;
}

.dnp {
    opacity:0.15;
}
/* hide viewer until zoom is ready */
#viewer {
    visibility: hidden;
}
