body {
    margin:0;
    font-family: Arial, sans-serif;
}

#app {
    display:flex;
    height:100vh;
}

/* LEFT PANEL */
#leftPanel {
    width:250px;
    background:#f3f3f3;
    padding:15px;
    overflow:auto;
}

/* RIGHT PANEL */
#rightPanel {
    width:300px;
    background:#f7f7f7;
    padding:15px;
    border-left:1px solid #ccc;
}

/* CENTER VIEWER */
#viewer {
    flex:1;
    overflow:hidden;
    background:white;
}

#schematicContainer {
    width:100%;
    height:100%;
}

input {
    width:100%;
    padding:8px;
    margin-bottom:10px;
}
