body {
    margin:0;
    font-family: Arial, sans-serif;
}

#app {
    display:flex;
    height:100vh;
}

/* LEFT PANEL */
#leftPanel {
    width:250px;
    background:#f3f3f3;
    padding:15px;
    overflow:auto;
}

/* RIGHT PANEL */
#rightPanel {
    width:300px;
    background:#f7f7f7;
    padding:15px;
    border-left:1px solid #ccc;
}

/* CENTER VIEWER */
#viewer {
    flex:1;
    overflow:hidden;
    background:white;
}

/* Desktop default view */
#viewer {
    width: 100%;
    height: 100vh;
    overflow: auto;
    background: #111;
}
/* Mobile / tablet */
@media (max-width: 900px) {

    #schematicImage {
        width: 100%;
        height: auto;
    }

    #schematicContainer {
        padding: 5px;
    }
}

#schematicContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

#schematicImage {
    max-width: none;   /* IMPORTANT: don't shrink image */
    width: auto;
    height: auto;
}


input {
    width:100%;
    padding:8px;
    margin-bottom:10px;
}
