/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Classic white background */
body{
    background:#ffffff;
    overflow:hidden;
    font-family:Arial, Helvetica, sans-serif;
}

/* Viewer fills screen */
#viewer{
    width:100vw;
    height:100vh;
    background:#ffffff;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* Container */
#schematicContainer{
    width:100%;
    height:100%;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* Schematic image */
#schematicImage{
    width:95%;
    height:auto;
}
